/*
!.gitignore

/Debug*
/Release*
/x64
/ARM
/Emscripten*
/Linux/build
/Linux/dist
!/Linux

!/Android
/Android/app/build
/Android/Data0/build
/Android/.*
/Android/Debug*
/Android/Release*
/Android/*.apks

!/Assets

/Source/*/
!/Source

!/Project.xcodeproj
!/Project.vcxproj
!/Project.vcxproj.filters

!/resource.*
!/stdafx*
!/Package.appxmanifest

!/ImportNintendoSdk.props
!/Project.nnsdk.xml
